<header class="header" role="banner">
	<div class="header_top clearfix">
		<div class="container">
			<a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
				<span class="mobileMenu-toggleIcon">Toggle menu</span>
			</a>
			{{#if page_type '===' 'default'}}
				<h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
					{{> components/common/store-logo}}
				</h1>
			{{else}}
				<div class="header-logo header-logo--{{theme_settings.logo-position}}">
					{{> components/common/store-logo}}
				</div>
			{{/if}}
			<a class="navUser-action navUser-action--quickSearch quickSearchSticky search_open" href="javascript:void(0)" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="true"><svg width="1em" height="1em" fill="currentColor" viewBox="0 0 22 23"><g id="Symbols" fill="none" fill-rule="evenodd"><g id="search-copy" transform="translate(-5.786 -5.22)"><path id="Rectangle" d="M0 0h34v34H0z"></path><circle id="Oval" stroke="#000" stroke-width="1.5" cx="15" cy="14" r="8"></circle><path d="M20 20l7 7-7-7z" id="Line" stroke="#000" stroke-width="1.5" stroke-linecap="square"></path></g></g></svg></a>
			{{> components/common/navigation}}
		</div>
	</div>
	<div class="header_bottom clearfix container">
		<div class="navUser-item-search">
			<a class="navUser-action navUser-action--quickSearch " href="javascript:void(0)" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false"><svg width="1em" height="1em" fill="currentColor" viewBox="0 0 22 23"><g id="Symbols" fill="none" fill-rule="evenodd"><g id="search-copy" transform="translate(-5.786 -5.22)"><path id="Rectangle" d="M0 0h34v34H0z"></path><circle id="Oval" stroke="#000" stroke-width="1.5" cx="15" cy="14" r="8"></circle><path d="M20 20l7 7-7-7z" id="Line" stroke="#000" stroke-width="1.5" stroke-linecap="square"></path></g></g></svg></a>
			<div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
			{{> components/common/quick-search}}
			</div>
			<a class="navUser-action navUser-action--quickSearch search_close" href="javascript:void(0)" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false">
			    <svg><use xlink:href="#icon-close"></use></svg>
			</a>
		</div>
		<div class="navPages-container" id="menu" data-menu>
			{{> components/common/navigation-menu}}
		</div>
	</div>
</header>
{{{region name="header_bottom"}}}
