<div class="container">
    <form class="form" action="{{urls.search}}">
        <fieldset class="form-fieldset">
            <div class="form-field">
                <label class="is-srOnly" for="search_query">{{lang "search.quick_search.input_label"}}</label>
                <input class="form-input" data-search-quick name="search_query" id="search_query" data-error-message="{{lang 'search.error.empty_field'}}" placeholder="Search product" autocomplete="off">
                <button type="submit"><svg width="1em" height="1em" fill="currentColor" viewBox="0 0 22 23"><g id="Symbols" fill="none" fill-rule="evenodd"><g id="search-copy" transform="translate(-5.786 -5.22)"><path id="Rectangle" d="M0 0h34v34H0z"></path><circle id="Oval" stroke="#000" stroke-width="1.5" cx="15" cy="14" r="8"></circle><path d="M20 20l7 7-7-7z" id="Line" stroke="#000" stroke-width="1.5" stroke-linecap="square"></path></g></g></svg></button>
            </div>
        </fieldset>
    </form>
    <section class="quickSearchResults" data-bind="html: results"></section>
</div>
