---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

    <div itemscope itemtype="http://schema.org/Product">
        {{> components/products/product-view schema=true}}

        {{{region name="product_below_content"}}}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}
        
        {{#if product.related_products}}
            <div class="pp_bottom_products related_products">
                <h2>Others also looked at</h2>
             {{> components/products/grid products=product.related_products}}
            </div>
        {{/if}}

        {{#if product.similar_by_views}}
            <div class="pp_bottom_products customer_also_viewed">
                <h2>Others also looked at</h2>
             {{> components/products/grid products=product.similar_by_views}}
            </div>
        {{/if}}
    </div>
{{/partial}}
{{> layout/base}}
